@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
  }
}


@layer components {
  .container-layout {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/public/background.png");
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .landing-bg {
    height: 100vh;
     width: 100vw;
    position: relative;
    object-fit: cover;
    overflow: hidden;
  }
  .landing-banner {
    transition: all 3000ms ease 0s;
    width: auto;
    max-width: 1000%;
    min-width: 100%;
    height: 100%;
  }
  #map .mapItemActive{
    fill: #0066C1 !important;
    &~text {
      fill:#fff;
      font-weight: 700;
    }
  }
  #map .mapItemMouseMove{
    fill: #B7DCFF;
  }
  // nav {
  //   height: 100px;
  //   position: fixed;
  //   top: 0;
  // }

  .button {
    position: fixed;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container-layout {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/public/back.png");
    object-fit: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}
@media screen and (max-width: 1280px) {
  .navigation {
    position: fixed;
    inset: 0 0 0 40%;
    transform: translateX(100vw);
    transition: 1s;
    z-index: 9999;
    background: rgb(198, 71, 118);
    background: linear-gradient(
      180deg,
      rgba(198, 71, 118, 1) 23%,
      rgba(59, 117, 209, 1) 75%,
      rgba(29, 157, 253, 1) 100%
    );
    padding: min(30vh, 10rem) 2em;
    backdrop-filter: blur(1rem);
  }
  .navigation ul {
    list-style-type: disc;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
  }
  .responsive-nav {
    transform: none;
  }

  .button {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 35em) {
  .navigation ul {
    gap: 10px;
  }
}
