@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
  }
}
@layer components {
  .container-layout {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("/public/background.png");
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .button {
    position: fixed;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (max-width: 35em) {
  .navigation {
    position: fixed;
    inset: 0 0 0 40%;
    transform: translateX(100vw);
    transition: 1s;
    z-index: 9999;
    background-color: hsl(0 0% 100%/0.1);
    padding: min(30vh, 10rem) 2em;
    backdrop-filter: blur(1rem);
  }
  .navigation ul {
    list-style-type: disc;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
  }
  .responsive-nav {
    transform: none;
  }
 
  .button {
    visibility: visible;
    opacity: 1;
  }
  
}
