@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
  }
}
@layer components {
  .container-layout {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/public/background.png");
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  // nav {
  //   height: 100px;
  //   position: fixed;
  //   top: 0;
  // }
  .button {
    position: fixed;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
  }
}
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation:portrait) 
{
  .container-layout {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/public/back.png");
    object-fit: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
    
}
@media screen and (max-width: 1280px) {
  .navigation {
    position: fixed;
    inset: 0 0 0 40%;
    transform: translateX(100vw);
    transition: 1s;
    z-index: 9999;
    background-color: hsla(0, 12%, 15%, 0.7);
    padding: min(30vh, 10rem) 2em;
    backdrop-filter: blur(1rem);
  }
  .navigation ul {
    list-style-type: disc;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
  }
  .responsive-nav {
    transform: none;
  }
 
  .button {
    visibility: visible;
    opacity: 1;
  }
  
}
@media screen and (max-width: 35em) {
  .navigation ul {
    gap: 10px;
  }
  
}
